@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: black;
    font-family: 'Kanit', sans-serif;
}

/* topview window with navbar */
.main {
    background-image: url(Video&Images/image/bg.png);
    height: 600px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 600px;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;

}

nav {
    display: flex;
    align-items: center;
    max-width: 60vw;
    margin: auto;
    justify-content: space-between;
    height: 100px;
}

nav button {
    z-index: 10;
    position: relative;
}

nav img {
    color: red;
    width: 130px;
    z-index: 10;
    opacity: 1;
    position: relative;
}

.topcontent {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(255, 255, 255);
    gap: 24px;
    padding: 0 30px;
    position: relative;
}

.topcontent> :first-child {
    /* font-family: "poopins",sans-serif; */
    font-weight: bolder;
    font-size: 45px;
    text-align: center;
}

.topcontent> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
}

.topcontent> :nth-child(3) {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.btn {
    /* font-family: "poopins",sans-serif; */
    padding: 6px 10px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0.468);
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
}

.btn-red {
    background-color: red;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    padding: 10px 10px;
    font-size: 16px;
}

.topcontent-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.main input {
    font-family: sans-serif;
    padding: 15px 101px 8px 10px;
    margin: 15px 15px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-radius: 4px;
    border: 1px solid rgba(246, 238, 238, 0.5);
    background-color: rgba(23, 23, 23, 0.7);
    text-align: left;
}

.btn-red-si {
    font-family: sans-serif;
    background-color: red;
    color: rgb(255, 255, 255);
    border: none;
    padding: 6px 10px;
}

.horizontal-line {
    height: 7.5px;
    background-color: rgb(52, 52, 52);
    position: relative;
    z-index: 20;
    width: 100%;
}



/* main section view */
.MainSec {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    color: rgb(255, 255, 255);
}

.MainSec>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

.MainSec>div :nth-child(1) {
    font-size: 46px;
    font-weight: bolder;
}

.MainSec>div :nth-child(2) {
    font-size: 20px;
}

.secImgVid {
    position: relative;
}

.secImgVid img {
    position: relative;
    z-index: 10;
    width: 555px;
}

.secImgVid video {
    position: absolute;
    right: 2px;
    top: 70px;
    width: 490px;
}

.third .secImgVid video {
    position: absolute;
    right: 100px;
    width: 350px;
    top: 70px;
}

.downloadbox {
    display: flex;
    background-color: black;
    border: 2px solid rgba(128, 128, 128, 0.7);
    width: 20vw;
    height: 80px;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    z-index: 10;
    justify-content: space-around;
    margin: auto;
    bottom: 110px;
    overflow: hidden;
}

.downloadbox img {
    width: 50px;
    height: 55px;
}

.downWord {
    display: flex;
    flex-direction: column;
}

.downloadbox>div :first-child {
    font-size: 12px;
    padding: 2px 2px;
}

.downloadbox>div :nth-child(2) {
    font-size: 12px;
    padding: 2px 2px;
    color: #0071eb;
}


/* Frequently asked question box */
.faq {
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 35px;
}

.faq h2 {
    text-align: center;
    font-size: 44px;
}

.faq-box {
    display: flex;
    justify-content: space-between;
    background-color: rgb(55, 55, 55);
    padding: 24px;
    max-width: 60vw;
    margin: 25px auto;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.5s ease-out;

}

.faq-box svg {
    color: rgb(255, 255, 255);
    filter: invert(1);
}

.faq-box:hover {
    background-color: rgb(118, 118, 118);
}

.faq-bottom {
    text-align: center;
    padding: 24px;
    border: 20px;
}

.faq-bottom h3 {
    color: rgb(255, 255, 255);

}

.faq-bottom-btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.faq-bottom-btns input {
    font-family: sans-serif;
    padding: 25px 101px 15px 10px;
    margin: 15px 15px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 4px;
    border: 1px solid rgba(246, 238, 238, 0.5);
    background-color: rgba(23, 23, 23, 0.7);
    text-align: left;
}

.red-faq {
    padding: 18px 10px;
}


/* Footer css  */
footer {
    color: rgba(255, 255, 255, 0.7);
    max-width: 60vw;
    margin: auto;
    padding: 12px;
}

footer h4 {
    padding: 6px 0px;
}

.footer-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
}

.footer-box-item a {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
}

.footer-box-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-last-btn button {
    padding: 7px 25px;
    margin: 6px 0px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: black;
    border: 1px solid white;
    border-radius: 3px;
    cursor: pointer;
    opacity: 0.8;
    font-size: 18px;

}

footer h5 {
    margin: 6px 0px;
    font-size: 18px;
}

/*  media querries  */

@media screen and (max-width:1300px) {
    .footer-box {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .MainSec {
        flex-wrap: wrap;
    }

    .first img {
        width: 405px;
    }

    .first video {
        width: 300px;
        position: absolute;
        right: 45px;
        top: 90px;
    }

    .third img {
        width: 405px;
    }
    .third .secImgVid video{
        width: 260px;
        position: absolute;
        right: 70px;
        top: 56px;
    }

    .fourth img {
        width: 405px;
    }

    .topcontent> :first-child {
        font-size: 34px;

    }

    .topcontent> :nth-child(2) {
        font-size: 20px;
    }

    .topcontent> :nth-child(3) {
        font-size: 17px;
    }
    .downloadbox {
        width: 54vw;
    }
    .faq-bottom-btns input{
        padding: 20px 60px 15px 10px;
        margin: 12px 12px;
        font-size: 14px;
    }
    .red-faq{
        font-size: 12px;
        padding: 10px 10px;
    }
    .MainSec>div :nth-child(1) {
        font-size: 36px;
        font-weight: bolder;
    }
    
    .MainSec>div :nth-child(2) {
        top: 56px;
        font-size: 16px;
    }
    .downloadbox>div :first-child {
        font-size: 12px;
        padding: 2px 2px;
    }
    
    .downloadbox>div :nth-child(2) {
        font-size: 12px;
        padding: 2px 2px;
    }

    .topcontent {
        gap: 20px;
        padding: 0 25px;

    }
}